# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/email-server/tmp
/email-server/cache
/email-server/test
/email-server/static/images
/email-server/*.exe

/email-web/node_modules
/email-web/*.yaml
/email-web/Web
/hmail.zip
/hmai-*
