@import 'tailwindcss';
/* 表单内*号换行问题解决方案 */
strong {
  display: inline-block;
}
/* 滚动条基础 */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

/* 轨道核心 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.2s 0.2s ease-in-out;
}
.overflow-y-auto:hover::-webkit-scrollbar-thumb {
  background-color: rgba(209, 213, 218, 0.8);
}

/* 上下箭头按钮 */
::-webkit-scrollbar-button:vertical {
  height: 2px;
  background: transparent;
}

body {
  background-color: #e6edf5;
  position: relative;
  font-size: 13px;
  color: #000;
}
.arco-spin-children {
  width: 100%;
}
.simpleModal .arco-modal-title {
  text-align: left;
}
.simpleModal .arco-modal-header {
  margin-bottom: 12px;
}
.simpleModal .arco-modal-footer {
  text-align: right;
  margin-top: 12px;
}
.mail-menu .arco-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-size: 13px;
  color: #000 !important;
}
.mail-menu .arco-menu-item.arco-menu-selected {
  background-color: rgba(15, 122, 245, 0.149);
  font-weight: bold;
  border-radius: 4px;
}
.mail-menu .arco-menu-item.arco-menu-selected .total {
  color: rgb(var(--primary-6));
}
.mail-list .selelct-mail,
.mail-list .selelct-mail:hover {
  background-color: rgba(15, 122, 245, 0.149);
}
.mail-list .selelct-mail {
  border-radius: 0;
}
/* 选中组第一个 */
.mail-list .selelct-mail:not(.selelct-mail ~ .selelct-mail) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* 选中组最后一个 */
.mail-list .selelct-mail:not(:has(~ .selelct-mail)) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.mail-menu .arco-checkbox-mask,
.mail-item .arco-checkbox-mask {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(25, 41, 59, 0.4);
}
.mail-menu .arco-checkbox-mask-icon,
.mail-item .arco-checkbox-mask-icon {
  width: 10px;
}
.arco-checkbox-indeterminate .arco-checkbox-mask,
.arco-checkbox-checked .arco-checkbox-mask {
  border-color: transparent;
}
.mail-item {
  position: relative;
}
.mail-item:after {
  content: '';
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -0.5px;
  height: 1px;
  background-color: var(--color-neutral-3);
}

/* jit-viewer全屏按钮隐藏  */
.jv-toolbar-btn--fullscreen {
  display: none !important;
}
.pptx-preview-wrapper {
  height: 100% !important;
}
.mail-contacts .arco-tree-node-title {
  color: var(--color-text-1);
}
.mail-contacts .arco-tree-node-title:hover {
  background-color: var(--color-fill-2);
  color: var(--color-text-1);
}
.mail-contacts .arco-tree-node-title-text span {
  display: block;
}
.no-footer .arco-picker-footer {
  display: none;
}

/* 写邮件的收件人抄送人添加样式 */
.focus-box .arco-icon {
  display: none;
}
.arco-input-tag-focus .focus-box {
  color: rgb(var(--primary-6));
}
.arco-input-tag-focus .focus-box .arco-icon {
  display: block !important;
}
.descriptions-wrap .arco-descriptions-item-label,
.descriptions-wrap .arco-descriptions-item-value {
  line-height: 28px;
}

.editor-wrap .arco-input-inner-wrapper,
.editor-wrap .arco-input-tag {
  background-color: transparent;
  border-bottom: 1px solid var(--color-border-1);
}
.editor-wrap .arco-input-inner-wrapper-focus,
.editor-wrap .arco-input-tag-focus {
  border-color: transparent;
  border-bottom: 1px solid var(--color-border-1);
}

.editor-wrap .arco-input-tag-focus .focus-box .active {
  color: rgb(var(--primary-6)) !important;
}
.editor-wrap .arco-input-tag .arco-input-tag-tag {
  border-color: transparent;
  background-color: var(--color-fill-2);
}
.arco-progress {
  display: none;
}

.editor-contact .arco-input-inner-wrapper {
  background-color: transparent;
  border: 1px solid var(--color-border-1);
}
.mail-detail a {
  color: #0e70df;
}
.arco-resizebox {
  min-width: 350px;
}
