@import 'tailwindcss';
/* 表单内*号换行问题解决方案 */
strong {
  display: inline-block;
}
.arco-spin-children {
  width: 100%;
}
.simpleModal .arco-modal-title {
  text-align: left;
}
.simpleModal .arco-modal-header {
  margin-bottom: 12px;
}
.simpleModal .arco-modal-footer {
  text-align: right;
  margin-top: 12px;
}
.mail-menu .arco-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email-list thead .arco-table-th {
  background-color: #fff;
}
.email-list .arco-table-header {
  overflow-y: auto !important;
}

.email-list .arco-table-th-item {
  padding: 14px 16px 14px 7px;
}
.email-list .arco-table-td {
  padding-left: 0;
  vertical-align: baseline;
}
.select-row .arco-table-td {
  background-color: var(--color-fill-2);
}

.mail-detail {
  min-height: 100px;
}
