// 变量定义，方便统一管理颜色
$toolbar-bg: #f3f4f6;
$toolbar-hover-bg: #e8eaed;
$toolbar-active-bg: #dce0e5;
$toolbar-text-color: #4e5969;
$divider-color: #ddd;
$border-radius: 4px;

// 自定义滚动条
@mixin custom-scrollbar {
  // 滚动条基础
  &::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  // 轨道核心
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  // 滑块
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(209, 213, 218, 0.8);
  }

  // 上下箭头按钮
  &::-webkit-scrollbar-button:vertical {
    height: 2px;
    background: transparent;
  }
}

.rich-text-editor__toolbar {
  position: relative;
  z-index: 1;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  background: $toolbar-bg;
  border-radius: $border-radius;
  color: $toolbar-text-color;
  gap: 6.5px;

  .toolbar-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: $border-radius;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s;
    border: none;

    &:hover {
      background: $toolbar-hover-bg;
    }

    &.active {
      background: $toolbar-active-bg;
    }
  }

  .toolbar-select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    border-radius: $border-radius;
    background: transparent;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    border: none;
    transition: all 0.2s;

    &:hover {
      background: $toolbar-hover-bg;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    .toolbar-select-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 20px;
      text-align: center;
      color: #13181d;
      font-size: 13px;
    }

    .family {
      width: 58px;
    }

    .size {
      width: 36px;
    }
  }

  // Select 样式
  .toolbar-select-wrapper {
    position: relative;
    display: inline-block;

    .toolbar-select-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      background: #fff;
      border: 1px solid #eee;
      border-radius: $border-radius * 2;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding: 4px 0;

      .dropdown-content {
        padding: 0 4px;
        min-width: 160px;
        max-height: 300px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 2px;

        @include custom-scrollbar;
      }

      .toolbar-select-option {
        padding: 8px 12px;
        border-radius: $border-radius;
        cursor: pointer;
        font-size: 13px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #13181d;

        &:hover {
          background: $toolbar-bg;
        }

        .toolbar-select-option-icon {
          width: 17px;
          height: 17px;
        }
      }
    }
  }

  // 颜色选择器样式
  .color-picker-wapper {
    position: relative;
    display: inline-block;

    .color-picker-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        background: $toolbar-bg;
      }

      .toolbar-color-icon {
        width: 10px;
        height: 3px;
        margin-top: -3px;
        position: relative;
        z-index: 10;
      }
    }

    .color-picker-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      padding: 5px;
      background: #fff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: $border-radius;
      border: 1px solid #eee;
      .content-default {
        border: 1px solid $toolbar-bg;
        font-size: 14px;
        text-align: center;
        margin-bottom: 5px;
        border-radius: $border-radius;
        padding: 2px;
        cursor: pointer;
        &:hover {
          background: $toolbar-bg;
        }
      }
      .dropdown-content {
        display: grid;
        grid-template-columns: repeat(8, 18px);
        gap: 5px;
        .color-item {
          font-size: 0;
          width: 18px;
          height: 18px;
          cursor: pointer;
          border-radius: 3px;
          border: 1px solid $toolbar-bg;
          overflow: hidden;

          &.active {
            border: 2px solid #1890ff;
          }
        }
      }
    }
  }

  .toolbar-select-arrow {
    width: 8px;
    height: 6px;
    margin-left: 4px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .toolbar-divider {
    width: 1px;
    height: 16px;
    background: $divider-color;
    margin: 0 10px;
  }
}

.rich-text-editor__content {
  padding: 10px;
  height: 300px !important;
  outline: none;
  overflow-y: auto;

  @include custom-scrollbar;
}
